In [6]:
# Import libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# load dataframes
df_resident = pd.read_csv('../data/residentes.csv', sep=',')

In [8]:
# Resident data display 5 lines
df_resident.head(5)

  Unidad              Nombre           Rol
0     8A       Jose Mogollon         Dueño
1     8A               Boris  Arrendatario
2     8B           Joel Leal         Dueño
3     8B  Luz Karime Londoño  Arrendatario
4     8C        Edy Gonzalez         Dueño

In [9]:
df_resident.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Unidad  219 non-null    object
 1   Nombre  219 non-null    object
 2   Rol     219 non-null    object
dtypes: object(3)
memory usage: 5.3+ KB

In [21]:
total_personas = df_resident['Nombre'].nunique()
print(f"Total de personas resgistradas en el PH: {total_personas}")

total_unidades = df_resident['Unidad'].nunique()
print(f"Total de unidades en el PH: {total_unidades}")

personas_por_unidad = df_resident['Unidad'].value_counts()
print("Número de personas por unidad:")
print(personas_por_unidad)

Total de personas resgistradas en el PH: 207
Total de unidades en el PH: 148
Número de personas por unidad:
Unidad
24B    3
20E    3
27D    3
20B    2
23A    2
      ..
11F    1
23C    1
18B    1
12B    1
32D    1
Name: count, Length: 148, dtype: int64