In [1]:
# Import libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load dataframes
df_fee = pd.read_csv('../data/cuotas.csv', sep=',')

In [3]:
# Fee data display 5 lines
df_fee.head(5)

  APTO   MTS EN REGISTRO PUBLICO  CUOTA SEGUN REGISTRO PUBLICO
0    8A                   112.28                       202.104
1    8B                    88.41                       159.138
2    8C                   112.39                       202.302
3    8D                   112.39                       202.302
4    8E                    91.17                       164.106

In [5]:

total_cuotas = df_fee['CUOTA SEGUN REGISTRO PUBLICO'].sum()

print(f"Ingreso mensual total del PH: ${total_cuotas:.2f}")

Ingreso mensual total del PH: $27365.29

In [8]:
df_fee['CUOTA SEGUN REGISTRO PUBLICO'].describe()

count    148.000000
mean     184.900622
std       55.868481
min      156.510000
25%      166.482000
50%      177.390000
75%      178.110000
max      559.242000
Name: CUOTA SEGUN REGISTRO PUBLICO, dtype: float64

In [9]:
promedio_cuota = df_fee['CUOTA SEGUN REGISTRO PUBLICO'].mean()
print(f"El promedio de la 'CUOTA SEGUN REGISTRO PUBLICO' es: {promedio_cuota:.2f}")

El promedio de la 'CUOTA SEGUN REGISTRO PUBLICO' es: 184.90