In [1]:
# Import libraries 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load dataframes
df_seed = pd.read_csv('../data/semilla.csv', sep=',')

In [3]:
# Seed data display 5 lines
df_seed.head(5)

  Unidad  Facturado    Pagado   Saldo                    Comentario
0     8A     $1,100    $1,100      $-            Pagado antes 2024
1     8B     $1,100      $400    $700    Falta comporbante de pago
2     8C     $1,100    $1,100      $-            Pagado antes 2024
3     8D     $1,100    $1,100      $-            Pagado antes 2024
4     8E     $1,100    $1,100      $-            Pagado antes 2024